Repository bxr1nG/auth: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint, npx prettier --check

Fix TOO_MANY_REDIRECTS bug
  packages/proxy/src/middlewares/headers.middleware.ts
Due: npx eslint, npx prettier --check

Clean all cookies during login and logout
  package-lock.json
  packages/proxy/package.json
  packages/proxy/src/api/management.routes.ts
  packages/proxy/src/index.ts
  packages/proxy/src/middlewares/cookiesCleaner.middleware.ts
Due: npx eslint, npx prettier --check

Add parsed field for permissions
  packages/ui/src/App/LoginView/LoginForm/PermissionsField/PermissionsField.tsx
Due: npx eslint, npx prettier --check

Use more info from ini file
  packages/ui/src/App/LoginView/LoginForm/StateField/StateField.helpers.ts
Due: npx eslint, npx prettier --check

Change login form styles
  packages/ui/src/App/LoginView/LoginForm/Link/Link.tsx
  packages/ui/src/App/LoginView/LoginForm/LoginButton/LoginButton.tsx
  packages/ui/src/App/LoginView/LoginForm/LoginForm.helpers.ts
  packages/ui/src/App/LoginView/LoginForm/LoginForm.scss
  packages/ui/src/App/LoginView/LoginForm/LoginForm.tsx
  packages/ui/src/App/LoginView/LoginForm/StateField/StateField.tsx
  packages/ui/src/App/LoginView/LoginView.scss
  packages/ui/src/styles.css
Due: npx eslint, npx prettier --check

Add logs table, refactor routes
  packages/proxy/src/api/management.routes.ts
  packages/proxy/src/middlewares/logger.middleware.ts
  packages/ui/src/App/App.tsx
  packages/ui/src/App/LoginView/LoginForm/Link/Link.tsx
  packages/ui/src/App/LoginView/LoginForm/LoginForm.tsx
  packages/ui/src/App/LogsView/LogsTable/LogsTable.helpers.ts
  packages/ui/src/App/LogsView/LogsTable/LogsTable.scss
  packages/ui/src/App/LogsView/LogsTable/LogsTable.tsx
  packages/ui/src/App/LogsView/LogsView.scss
  packages/ui/src/App/LogsView/LogsView.tsx
  packages/ui/src/api/getEnvironment.ts
  packages/ui/src/api/getLogs.ts
  packages/ui/src/api/getTestusers.ts
  packages/ui/src/api/updateRights.ts
  packages/ui/src/config.ts
  packages/ui/src/index.tsx
  packages/ui/src/theme.ts
  packages/ui/src/types/Logs.ts
  packages/ui/webpack.dev.ts
Due: npx eslint, npx prettier --check

Create logout page, fix bug with testusers list
  packages/ui/src/App/App.tsx
  packages/ui/src/App/LoginView/LoginForm/Link/Link.tsx
  packages/ui/src/App/LoginView/LoginForm/LoginForm.tsx
  packages/ui/src/App/LoginView/LoginForm/StateField/StateField.helpers.ts
  packages/ui/src/App/LoginView/LoginForm/StateField/StateField.tsx
  packages/ui/src/App/LogoutView/LogoutView.helpers.ts
  packages/ui/src/App/LogoutView/LogoutView.tsx
  packages/ui/src/api/logout.ts
Due: npx eslint, npx prettier --check

Change form styles
  packages/ui/src/App/LoginView/LoginForm/LoginForm.tsx
  packages/ui/src/theme.ts
Due: npx eslint, npx prettier --check

Fix navigation bug in production with different port
  packages/ui/src/App/LoginView/LoginForm/LoginForm.tsx
  packages/ui/src/config.ts
Due: npx eslint, npx prettier --check

Refactor routes
  packages/proxy/src/api/management/client.routes.ts
  packages/proxy/src/api/management/management.routes.ts
  packages/proxy/src/api/usage/usage.routes.ts
  packages/proxy/src/index.ts
Due: npx eslint, npx prettier --check

Update README.md files
  packages/proxy/README.md
  packages/ui/README.md
Due: none

Change scripts for Docker
  README.md
  package-lock.json
  package.json
Due: none

Fix path to static UI
  packages/proxy/src/api/management/client.routes.ts
Due: npx eslint, npx prettier --check

chore: add commitizen, standard-version and commit-msg hook
  .commitlintrc.json
  .dockerignore
  .husky/commit-msg
  README.md
  package-lock.json
  package.json
Due: none

chore(release): 1.0.0
  CHANGELOG.md
Due: none

fix(loginform): remove Logout button from Login form
  packages/ui/src/App/LoginView/LoginForm/LoginForm.tsx
Due: npx eslint, npx prettier --check

style(loginview): specify the maximum width of the Login form and center it
  packages/ui/src/App/LoginView/LoginForm/LoginForm.scss
  packages/ui/src/App/LoginView/LoginView.scss
  packages/ui/src/styles.css
Due: npx prettier --check

style(logsview): change Logs table styles and move long URLs
  packages/ui/src/App/LogsView/LogsTable/LogsTable.scss
  packages/ui/src/App/LogsView/LogsTable/LogsTable.tsx
  packages/ui/src/App/LogsView/LogsView.scss
Due: npx eslint, npx prettier --check

chore(release): 1.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix(loginform): move reverse formatting of permissions from onChange to onSubmit function
  packages/ui/src/App/LoginView/LoginForm/LoginForm.tsx
  packages/ui/src/App/LoginView/LoginForm/PermissionsField/PermissionsField.tsx
Due: npx eslint, npx prettier --check

chore(release): 1.0.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix(loginform): change order of fields
  packages/ui/src/App/LoginView/LoginForm/LoginForm.tsx
Due: npx eslint, npx prettier --check

fix(statefield): change text format in select menu
  packages/ui/src/App/LoginView/LoginForm/StateField/StateField.scss
  packages/ui/src/App/LoginView/LoginForm/StateField/StateField.tsx
Due: npx eslint, npx prettier --check

feat(loginform): remove history values from state select menu
  packages/ui/src/App/LoginView/LoginForm/LoginForm.tsx
  packages/ui/src/App/LoginView/LoginForm/StateField/StateField.tsx
Due: npx eslint, npx prettier --check

feat(ui): make fields optional
  packages/ui/src/App/LoginView/LoginForm/LoginForm.constants.ts
  packages/ui/src/App/LoginView/LoginForm/LoginForm.tsx
  packages/ui/src/App/LoginView/LoginForm/StateField/StateField.helpers.ts
  packages/ui/src/App/LoginView/LoginForm/StateField/StateField.tsx
  packages/ui/src/types/FormikFields.ts
Due: npx eslint, npx prettier --check

feat(proxy): make fields optional
  packages/proxy/src/middlewares/headers.middleware.ts
  packages/proxy/src/types/IRights.ts
Due: npx eslint, npx prettier --check

feat(loginform): add History modal
  package-lock.json
  packages/ui/.eslintrc.js
  packages/ui/README.md
  packages/ui/package.json
  packages/ui/src/App/LoginView/LoginForm/HistoryButton/HistoryButton.helpers.tsx
  packages/ui/src/App/LoginView/LoginForm/HistoryButton/HistoryButton.scss
  packages/ui/src/App/LoginView/LoginForm/HistoryButton/HistoryButton.tsx
  packages/ui/src/App/LoginView/LoginForm/LoginForm.tsx
Due: npx eslint, npx prettier --check

fix(loginform): optimize process of inserting a new value into history
  packages/ui/src/App/LoginView/LoginForm/HistoryButton/HistoryButton.tsx
  packages/ui/src/App/LoginView/LoginForm/LoginForm.helpers.ts
  packages/ui/src/App/LoginView/LoginForm/LoginForm.tsx
Due: npx eslint, npx prettier --check

fix(loginform): add permissions sorting when displaying
  packages/ui/src/App/LoginView/LoginForm/PermissionsField/PermissionsField.tsx
Due: npx eslint, npx prettier --check

chore(release): 2.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore(release): 1.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix(permissionsfield): disable spellcheck on permissions field
  packages/ui/src/App/LoginView/LoginForm/PermissionsField/PermissionsField.tsx
Due: npx eslint, npx prettier --check

fix(statefield): add default first name for values from testusers.ini file
  packages/ui/src/App/LoginView/LoginForm/StateField/StateField.helpers.ts
Due: npx eslint, npx prettier --check

fix(statefield): remove Password1 value from roles in state menu
  packages/ui/src/App/LoginView/LoginForm/StateField/StateField.tsx
Due: npx eslint, npx prettier --check

fix(loginform): replace IAMUserID field
  packages/ui/src/App/LoginView/LoginForm/LoginForm.tsx
Due: npx eslint, npx prettier --check

fix(loginform): create an accordion and move fields after divider into it
  packages/ui/src/App/LoginView/LoginForm/LoginForm.constants.ts
  packages/ui/src/App/LoginView/LoginForm/LoginForm.scss
  packages/ui/src/App/LoginView/LoginForm/LoginForm.tsx
Due: npx eslint, npx prettier --check

fix(cookiescleaner): fix cookie cleanup
  packages/proxy/src/middlewares/cookiesCleaner.middleware.ts
Due: npx eslint, npx prettier --check

fix(loginform): change styles for state menu and history button line
  packages/ui/src/App/LoginView/LoginForm/LoginForm.scss
  packages/ui/src/App/LoginView/LoginForm/LoginForm.tsx
Due: npx eslint, npx prettier --check

fix(proxy): change onstart console logs
  packages/proxy/src/index.ts
Due: npx eslint, npx prettier --check

fix(management): fix bug with redirect to login page on development mode
  packages/proxy/src/api/management/client.routes.ts
Due: npx eslint, npx prettier --check

Path conditions:
  npx eslint: any of: *.{js,jsx,ts,tsx}
  npx prettier --check: any of: *.{js,jsx,ts,tsx,html,css}
