Repository bxr1nG/auth: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint, npx prettier --check

feat(ui): add filter by client to logs table
  packages/ui/src/App/LogsView/LogsTable/LogsTable.constants.ts
  packages/ui/src/App/LogsView/LogsTable/LogsTable.tsx
  packages/ui/src/types/Logs.ts
Due: npx eslint, npx prettier --check

fix(proxy): fix session middleware and dockerhub.md file
  DOCKERHUB.md
  packages/proxy/src/index.ts
Due: npx eslint, npx prettier --check

fix: add default path for Login button
  DOCKERHUB.md
  packages/proxy/src/api/management/management.routes.ts
  packages/proxy/src/config.ts
  packages/ui/src/App/App.tsx
  packages/ui/src/App/LoginView/LoginForm/LoginForm.tsx
  packages/ui/src/config.ts
  packages/ui/src/context.ts
  packages/ui/src/types/Environment.ts
Due: npx eslint, npx prettier --check

build(package.json): remove cross-var package cause of vulnerabilities and change scripts
  README.md
  package-lock.json
  package.json
Due: none

feat(loginform): save rarely used fields in localStorage
  packages/ui/src/App/LoginView/LoginForm/LoginForm.helpers.ts
  packages/ui/src/App/LoginView/LoginForm/LoginForm.tsx
  packages/ui/src/App/LoginView/LoginForm/StateField/StateField.helpers.ts
  packages/ui/src/types/RarelyUsedFields.ts
Due: npx eslint, npx prettier --check

fix(statefield): remove Password1 value from roles in state menu
  packages/ui/src/App/LoginView/LoginForm/StateField/StateField.tsx
Due: npx eslint, npx prettier --check

chore(release): 1.1.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat(listener): separate listener project to different docker image
  package-lock.json
  package.json
  packages/listener/.dockerignore
  packages/listener/DOCKERHUB.md
  packages/listener/Dockerfile
  packages/listener/package.json
  packages/listener/src/config.ts
  packages/listener/src/index.ts
  packages/listener/tsconfig.json
Due: npx eslint, npx prettier --check

fix(proxy): change onstart console logs
  packages/proxy/src/index.ts
Due: npx eslint, npx prettier --check

fix(logstable): fix bug with counting rows in Logs table
  packages/ui/src/App/LogsView/LogsTable/LogsTable.tsx
Due: npx eslint, npx prettier --check

feat(proxy): add browser session scoped mode for login rights
  DOCKERHUB.md
  package-lock.json
  package.json
  packages/proxy/README.md
  packages/proxy/package.json
  packages/proxy/src/api/management/management.routes.ts
  packages/proxy/src/config.ts
  packages/proxy/src/declarations.ts
  packages/proxy/src/index.ts
  packages/proxy/src/middlewares/headers.middleware.ts
  packages/proxy/src/store.ts
  packages/proxy/src/types/IManagementRequest.ts
Due: npx eslint, npx prettier --check

chore(release): 1.1.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore(release): 1.1.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix(cookiescleaner): fix cookie cleanup
  packages/proxy/src/middlewares/cookiesCleaner.middleware.ts
Due: npx eslint, npx prettier --check

fix(): change number fields type to string
  packages/proxy/src/types/IRights.ts
  packages/ui/src/App/LoginView/LoginForm/LoginForm.constants.ts
  packages/ui/src/App/LoginView/LoginForm/LoginForm.tsx
  packages/ui/src/App/LoginView/LoginForm/TextField/TextField.tsx
  packages/ui/src/types/FormikFields.ts
Due: npx eslint, npx prettier --check

fix(historybutton): change history modal styles
  packages/ui/src/App/LoginView/LoginForm/HistoryButton/HistoryButton.helpers.tsx
  packages/ui/src/App/LoginView/LoginForm/HistoryButton/HistoryButton.scss
  packages/ui/src/App/LoginView/LoginForm/HistoryButton/HistoryButton.tsx
  packages/ui/src/App/LoginView/LoginForm/StateField/StateField.tsx
Due: npx eslint, npx prettier --check

fix(loginform): create an accordion and move fields after divider into it
  packages/ui/src/App/LoginView/LoginForm/LoginForm.constants.ts
  packages/ui/src/App/LoginView/LoginForm/LoginForm.scss
  packages/ui/src/App/LoginView/LoginForm/LoginForm.tsx
Due: npx eslint, npx prettier --check

build(package.json): add scripts to do release as specific type
  package.json
Due: none

fix(permissionsfield): disable spellcheck on permissions field
  packages/ui/src/App/LoginView/LoginForm/PermissionsField/PermissionsField.tsx
Due: npx eslint, npx prettier --check

fix: add redirect to requested path while not authorized
  packages/proxy/src/middlewares/headers.middleware.ts
  packages/ui/src/App/LoginView/LoginForm/LoginForm.tsx
Due: npx eslint, npx prettier --check

fix(historybutton): add max height for permissions and roles containers in history table
  packages/ui/src/App/LoginView/LoginForm/HistoryButton/HistoryButton.helpers.tsx
  packages/ui/src/App/LoginView/LoginForm/HistoryButton/HistoryButton.scss
Due: npx eslint, npx prettier --check

chore(release): 1.1.7
  CHANGELOG.md
  Dockerfile
  package-lock.json
  package.json
Due: none

fix(index.html): add mobile responsibility
  packages/ui/src/index.html
Due: npx prettier --check

fix(historybutton): add fixed width for table columns
  packages/ui/src/App/LoginView/LoginForm/HistoryButton/HistoryButton.scss
  packages/ui/src/App/LoginView/LoginForm/HistoryButton/HistoryButton.tsx
Due: npx eslint, npx prettier --check

fix: add server side pagination to Logs table
  packages/proxy/src/api/management/management.routes.ts
  packages/proxy/src/types/ILogsParams.ts
  packages/ui/src/App/LoginView/LoginForm/HistoryButton/HistoryButton.tsx
  packages/ui/src/App/LoginView/LoginForm/LoginForm.constants.ts
  packages/ui/src/App/LogsView/LogsTable/LogsTable.constants.ts
  packages/ui/src/App/LogsView/LogsTable/LogsTable.helpers.ts
  packages/ui/src/App/LogsView/LogsTable/LogsTable.scss
  packages/ui/src/App/LogsView/LogsTable/LogsTable.tsx
  packages/ui/src/api/getClients.ts
  packages/ui/src/api/getLogs.ts
  packages/ui/src/index.tsx
  packages/ui/src/theme.scss
  packages/ui/src/theme.ts
  packages/ui/src/types/LogsParams.ts
Due: npx eslint, npx prettier --check

feat: remove listener project from docker build, add graceful shutdown
  .dockerignore
  DOCKERHUB.md
  Dockerfile
  packages/proxy/src/config.ts
  packages/proxy/src/index.ts
Due: npx eslint, npx prettier --check

fix: add name to filter by client menu in Logs table
  packages/proxy/src/middlewares/logger.middleware.ts
  packages/ui/src/App/LogsView/LogsTable/LogsTable.scss
  packages/ui/src/App/LogsView/LogsTable/LogsTable.tsx
Due: npx eslint, npx prettier --check

fix(ui): remove domain name from requests
  packages/ui/package.json
  packages/ui/src/App/LoginView/LoginForm/LoginForm.tsx
  packages/ui/src/App/LogsView/LogsTable/LogsTable.tsx
  packages/ui/src/api/getEnvironment.ts
  packages/ui/src/api/getLogs.ts
  packages/ui/src/api/getTestusers.ts
  packages/ui/src/api/login.ts
  packages/ui/src/api/logout.ts
  packages/ui/src/config.ts
  packages/ui/webpack.dev.ts
Due: npx eslint, npx prettier --check

fix(loginform): fix default context bug
  packages/ui/src/App/LoginView/LoginForm/LoginForm.tsx
Due: npx eslint, npx prettier --check

fix(logstable): decode URL string
  packages/ui/src/App/LogsView/LogsTable/InfoButton/InfoButton.tsx
  packages/ui/src/App/LogsView/LogsTable/LogsTable.tsx
Due: npx eslint, npx prettier --check

fix: use static build of ui in dev mode
  packages/proxy/src/api/management/client.routes.ts
  packages/proxy/src/config.ts
  packages/proxy/src/index.ts
  packages/proxy/src/middlewares/headers.middleware.ts
  packages/ui/webpack.dev.ts
Due: npx eslint, npx prettier --check

fix(listener): remove ports value from dockerhub readme
  packages/listener/DOCKERHUB.md
Due: none

feat: add favicon
  packages/ui/public/favicon.ico
  packages/ui/public/index.html
  packages/ui/tsconfig.json
  packages/ui/webpack.common.ts
Due: npx eslint, npx prettier --check

fix(logstable): fix client select display condition
  packages/ui/src/App/LogsView/LogsTable/LogsTable.tsx
Due: npx eslint, npx prettier --check

fix(infobutton): add fixed width for table columns
  packages/ui/src/App/LogsView/LogsTable/InfoButton/InfoButton.scss
  packages/ui/src/App/LogsView/LogsTable/InfoButton/InfoButton.tsx
Due: npx eslint, npx prettier --check

feat(logstable): add search field to Logs table
  packages/ui/src/App/LogsView/LogsTable/LogsTable.constants.ts
  packages/ui/src/App/LogsView/LogsTable/LogsTable.scss
  packages/ui/src/App/LogsView/LogsTable/LogsTable.tsx
Due: npx eslint, npx prettier --check

fix(logstable): add fixed width for table columns
  packages/ui/src/App/LogsView/LogsTable/LogsTable.scss
  packages/ui/src/App/LogsView/LogsTable/LogsTable.tsx
Due: npx eslint, npx prettier --check

build(package.json): temporary fix for deploy on Windows from script
  package.json
Due: none

fix(changelog.md): fix CHANGELOG.md file
  CHANGELOG.md
Due: none

fix(management.routes.ts): decode URI before filter by search query
  packages/proxy/src/api/management/management.routes.ts
Due: npx eslint, npx prettier --check

Path conditions:
  npx eslint: any of: *.{js,jsx,ts,tsx}
  npx prettier --check: any of: *.{js,jsx,ts,tsx,html,css}
